* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    touch-action: none;
}

body, html {
	font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Hansief';
    src: url(../fonts/Hansief.otf);
}

@font-face {
    font-family: 'Stencil-Outline';
    src: url(../fonts/Stencil-Outline.ttf);
}

h1, p {
    font-family: 'Hansief';
    text-transform: uppercase;
}

h1 {
    color: #ffaaa5;
    font-size: 3.6vw;
}

h2 {
    font-family: 'Stencil-Outline';
    color: white;
    font-size: 1.8vw;
}

h2:active {
    color: lightgray;
}

p {
    color: white;
}

body {
    background-color: gray;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1vw 1vw 0.5vw 95vw 0.5vw 1vw 1vw; 
}

.accent {
    display: flex;
    flex-direction: column;
}

.accent-yellow {  
    background-color: #fffcce;
}

.accent-blue {
    background-color: #cedcff;
}

.accent-red {
    background-color: #ffaaa5;
}

.middle {
    display: grid;
    justify-content: center;
    overflow: hidden;
    grid-template-rows: 10% 90%;
}

.header {
    display: grid;
    grid-template-columns: 35vw 55vw;
    width: 97.5%;
    height: 100%;
    padding-left: 1vw;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: grid;
    grid-template-columns: 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw 5.5vw;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.toolbar > div {
    text-align: center;
}

.icon {
    padding: 0.5vh;
    color: white;
    font-size: 3.6vw;
    transition: all 0.5s;
}

#iconColor {
    color: black;
}

.material-icons.mi { font-size: 4.3vw; }

.material-icons.mic { font-size: 3.6vw; }

.active > .icon {
    color: #ffaaa5;
}

.icon:active {
    color: lightgray;
}

.toolbar .color {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: grey;
    z-index: 1;
}

.dropdown-content {
    margin-top: 15px;
}

.dropdown-child {
    margin-top: 120px;
}

.show {
    display: block;
}

.size-slider {
    width: 600px;
    height: 40px;
}

.opacity-slider {
    width: 300px;
    height: 40px;
}

#sizeIndicator {
    background-color: rgba(0,0,0,0);
    margin: 0px auto;
    width: 50px;
    height: 50px;
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-standard {
    grid-template-rows: 40px auto;
    padding-bottom: 10px;
}

.grid-texture {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 80px 80px;
}

.grid-stamp {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 80px;
}

.grid-char {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
}

.grid-shape {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 75px 75px;
}

.grid-shape .icon {
    font-size: 3vw;
}

#canvas {
    background-color: white;
    background-image: url(../images/canvas.png);
    background-size: cover;
}

#canvas:hover {
    cursor: crosshair;
}